.box{
    height: 40rem;
    width: 40rem;
    border: 3px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.item{height: 30px;
    width: 30px;
    border: 3px solid red;
    
}